[Desktop Entry]
Name=Mein Skript
Exec=sudo python3 InMoov_HTLWeiz/Terminal/RockPaperScissor_Client.py
Icon=/InMoov_HTLWeiz/setup/icon.png
Terminal=false
Type=Application
Categories=Utility