[Desktop Entry]
Name=Mein Skript
Exec=python3 InMoov_HTLWeiz/Terminal/menus/games/RockPaperScissor/RPS_server.py
Icon=/InMoov_HTLWeiz/setup/icon.png
Terminal=false
Type=Application
Categories=Utility